USE [master]
GO
/****** Object:  Database [SHOPBANHANG]    Script Date: 1/11/2021 8:54:42 PM ******/
CREATE DATABASE [SHOPBANHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SHOPBANHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHOPBANHANG.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SHOPBANHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\SHOPBANHANG_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SHOPBANHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SHOPBANHANG]
GO
/****** Object:  Table [dbo].[LOAISP]    Script Date: 1/11/2021 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISP](
	[MALOAISP] [nvarchar](50) NOT NULL,
	[TENLOAISP] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOAISP] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NSX]    Script Date: 1/11/2021 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NSX](
	[MANSX] [nvarchar](50) NOT NULL,
	[TENNSX] [nvarchar](50) NULL,
 CONSTRAINT [PK_NSX] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/11/2021 8:54:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [nvarchar](50) NOT NULL,
	[MALOAISP] [nvarchar](50) NULL,
	[MANSX] [nvarchar](50) NULL,
	[TENSP] [nvarchar](300) NULL,
	[GIOITHIEU] [nvarchar](max) NULL,
	[HINHCHINH] [nvarchar](50) NULL,
	[HINH1] [nvarchar](50) NULL,
	[HINH2] [nvarchar](50) NULL,
	[HINH3] [nvarchar](50) NULL,
	[HINH4] [nvarchar](50) NULL,
	[GIA] [int] NULL CONSTRAINT [DF_SANPHAM_GIA]  DEFAULT ((0)),
	[SLDABAN] [int] NULL CONSTRAINT [DF_SANPHAM_SLDABAN]  DEFAULT ((0)),
	[LUOTXEM] [int] NULL CONSTRAINT [DF_SANPHAM_LUOTXEM]  DEFAULT ((0)),
	[TINHTRANG] [nchar](10) NULL CONSTRAINT [DF_SANPHAM_TINHTRANG]  DEFAULT ((0)),
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'LSP001', N'Nguồn máy tính')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'LSP002', N'SSD')
INSERT [dbo].[LOAISP] ([MALOAISP], [TENLOAISP]) VALUES (N'LSP003', N'HDD')
INSERT [dbo].[NSX] ([MANSX], [TENNSX]) VALUES (N'NSX001', N'JETEK')
INSERT [dbo].[NSX] ([MANSX], [TENNSX]) VALUES (N'NSX002', N'WD')
INSERT [dbo].[NSX] ([MANSX], [TENNSX]) VALUES (N'NSX003', N'Seagate')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAISP], [MANSX], [TENSP], [GIOITHIEU], [HINHCHINH], [HINH1], [HINH2], [HINH3], [HINH4], [GIA], [SLDABAN], [LUOTXEM], [TINHTRANG]) VALUES (N'MPS002', N'LSP002', N'NSX002', N'SSD Western Digital Green Sata III 240GB WDS240G2G0A', N'Chuẩn SSD: 2.5 inches
,Tốc độ đọc: 540 MB/s,
Tốc độ ghi: 430 MB/s,
Bảo hành chính hãng 3 năm 1 đổi 1.', N'2.png', NULL, NULL, NULL, NULL, 770000, 0, 0, N'0         ')
INSERT [dbo].[SANPHAM] ([MASP], [MALOAISP], [MANSX], [TENSP], [GIOITHIEU], [HINHCHINH], [HINH1], [HINH2], [HINH3], [HINH4], [GIA], [SLDABAN], [LUOTXEM], [TINHTRANG]) VALUES (N'MSP003', N'LSP003', N'NSX003', N'HDD Seagate BarraCuda 1TB 3.5 inch SATA III 64MB Cache 7200RPM ST1000DM010', N'Loại ổ cứng: HDD,Dung lượng: 1 TB,Kích thước: 3.5 inch,Số vòng: 7200RPM,Tốc độ: Lên đến 210 MB/s,Bảo hành: 24 tháng', N'3.png', NULL, NULL, NULL, NULL, 980000, 0, 0, N'0         ')
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_LOAISP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISP] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_LOAISP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_NSX] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NSX] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_NSX]
GO
USE [master]
GO
